# ========================
# APP CONFIG
# ========================
PORT=

# ========================
# PUBLIC CORS
# ========================
CLIENT_URL1=
CLIENT_URL2=
CLIENT_URL3=

# ========================
# DATABASE
# ========================
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=

# ========================
# GEOLOCATION
# ========================
GEOLOCATION_KEY=

# ========================
# RECAPTCHA
# ========================
# RECAPTCHA_SECRET=

# ========================
# SECRET KEY
# ========================
AUTH_SECRET_KEY=
API_KEY=
API_KEY_COMMON=

# ========================
# EMAIL CONTACT
# ========================
MAIL_CONTACT=

# ========================
# MAIL BOT
# ========================
MAIL_USER=
MAIL_PASSWORD=
MAIL_HOST=
MAIL_PORT=

# ========================
# JWT
# ========================
JWT_ACCESS_KEY=
JWT_REFRESH_KEY=

# ========================
# ADMIN
# ========================
ADMIN_ARRAY=